{% load static %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
<script src="{% static 'js/navbar_script.js' %}"></script>
{% endblock %}




<!-- Navbar -->
  
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-secondary">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            {% csrf_token %}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-genres" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Genres
            </a>
            <ul class="dropdown-menu columns text-center" aria-labelledby="navbarDropdown-genres" id='genres-menu'></ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all-authors' %}">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all-books' %}?ordering=Popular">Books</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <!-- Search form, right side -->
        <form class="d-flex input-group w-auto" method='get' action={% url 'search' %}>
          <input type="search" class="form-control" placeholder="Type query" aria-label="Search" name='q'/>
          <button class="btn btn-outline-primary" type="submit" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
            Search
          </button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" {% if user.is_authenticated %}href="{% url 'profile' user.slug %}">{{user.username}}{% else %}href="#"> guest{% endif %}</a>
          </li>
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdown-notifications" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bell"></i>
            </a>
            <!-- Dropdown menu notifications-->
            <ul class="dropdown-menu dropdown-menu-end notifications-list p-1" style="max-height:500px;overflow-y:auto;width=200px" id='notifications' aria-labelledby="navbarDropdown-notifications">

            </ul>
          </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
                aria-expanded="false">
                <img {% if user.avatar %}src="{{ user.avatar.url }}"{% else %}src="{% static 'bootstrap/assets/img/b7647bef0d7011489f1c129bf01a2190.jpg' %}"{% endif %}class="rounded-circle"
                    height='25' width='25'>
                </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end p-1" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'profile' user.slug %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'profile-settings-information' user.pk %}">Settings</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                {% comment %} {{ request.path | urlencode }} {% endcomment %}
                <li><a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path | urlencode }}">Log Out</a></li>
                </ul>
            </li>
        {% else %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item user-form">
              <a id='registration-link' href="javascript:void(null);" class="nav-link" data-mdb-target="#RegistrationModal" data-mdb-toggle="modal">
              Registration</a>
              <div id='registration-li'>
                {% include 'registration.html' %}
              </div>    
          </li>
           <li class="nav-item user-form">
            <a id='login-link' href="javascript:void(null);" class="nav-link" data-mdb-target="#LoginModal" data-mdb-toggle="modal">
              Login</a>
            <div id='login-li'>
              {% include 'login.html'%}
            </div>
            <div id='send-email'>{% include 'password_reset/send_email_for_reset.html'%}</div>
          </li>

        {% endif %}
        
        </ul>
      </div>
      <!-- Collapsible wrapper -->  
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
