{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/sidebars.css' %}">
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
{% endblock %}

{% block content %}
<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper" class='mt-n3'>
      <ul class="sidebar-nav">
          <li class="sidebar-brand" style='height:50px'>
              <h1>Settings</h1>
          </li>
          <hr class='new1 mt-0'>
          <li class="active sidebar-link">
            <a href="{% if user.is_authenticated %}{% url 'profile-settings-information' user.pk %}{% else %}#{% endif %}">Information</a>
          </li>
          <li class='sidebar-link'>
              <a href="#">Site's settings</a>
          </li>
          <li class='sidebar-link'>
              <a href="#">Notifications</a>
          </li>
          <li class='sidebar-link'>
              <a href="{% if user.is_authenticated %}{% url 'profile-settings-security' user.pk %}{% else %}#{% endif %}">Security</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
          {% if user.is_authenticated %}
            {% block settings-content %}
            {% endblock settings-content %}
          {% else %}
          <h2 class='pt-3'>
            You aren't logined!
          </h2>
          {% endif %}
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $(document).ready(function(){
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
          });
        function capitalize(s){
            return s[0].toUpperCase() + s.slice(1);
            }
        const page_url = window.location.href
        const active_url = capitalize(page_url.split(/settings\/(.*)..\//)[1])
        console.log(active_url)
        const links = [...document.getElementsByClassName('sidebar-link')]
        links.forEach(li => {	
            if(li.classList.contains('active') && $(li).find('a').text() != active_url){
                li.classList.remove('active');
            }
            else if($(li).find('a').text() == active_url){
                li.classList.add('active')
            }
        })
    })
    

</script>

{% endblock %}
