{% extends 'base.html'%}
{% load static %}
{% load hitcount_tags %}

{% block content %}
<section id='all-authors'>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <h1>All authors!</h1>
            <hr>
            <div class="row" style="padding-top: 20px;">
                <div class="col">
                {% for top in tops %}
                    <div class='row'>
                        <h2 style="padding-left:30px">{{top.name}}</h2>
                            <div class='container'>
                                <div class="owl-carousel owl-theme">
                                    {% for author in top.ordering %}
                                        <div class="ms-2 me-2">
                                            <div class='card'>
                                                <a href="{% url 'author' author.slug %}"><img class='owl-lazy' data-src="{{author.photo.url}}"></a>
                                                <div class='card-body text-center'>
                                                    <h5 class='card-title'><a href='{% url 'author' author.slug %}' style='color:inherit;text-decoration:inherit;'>{{author.name}}</a></h5>
                                                    <p>{{author.book_author.count}} books</p>
                                                    <ul class="list-group text-center" style="">
                                                    {% for genre in author.genres%}
                                                        <li class="list-group-item rounded" style=""><a href="{% url 'genre' genre|slugify %}">{{genre}}</a></li>
                                                    {% endfor%}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div> 
                            </div>
                    </div>
                    <hr>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div class="grid-img-right mt-4 text-right bg">
            {% include 'pagination.html'%}
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'OwlCarousel/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'OwlCarousel/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">

<script src="{% static 'OwlCarousel/owl.carousel.js' %}"></script>
<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            nav: true,
            lazyLoad: true,
            margin: 5,
            padding: 5,
            stagePadding: 5,
            responsive:{
                0 : {
                    items: 1,
                    dots: false
                },
                485 : {
                    items: 2,
                    dots: false
                },
                728: {
                    items: 3,
                    dots: false
                },
                960: {
                    items: 4,
                    dots: true,
                },
                1200: {
                    items: 5,
                    dots: true
                }
            }
        })
    })
</script>
{% endblock %}
