{% extends 'base.html' %}

{% load static %}


{% block content %}
<section style="padding: 0px;">
    <div class='row'>
        <div class='col-2'></div>
        <div class='col-8'>
            <div style='margin-right:15px;'>
                <ul class="row list-unstyled breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <li class="col-auto item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a href="" itemprop="item"><span itemprop="name">Main</span></a></li>
                    <li class="col-auto item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a href="{% url 'all-authors' %}" itemprop="item"><span itemprop="name">Authors</span></a></li>
                    <li class="col-auto item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a href="{{authors.get_absolute_url}}" itemprop="item"><span itemprop="name">{{author.name}}</span></a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1>Author name</h1>
                    <ul class="list-inline" style="">
                        {% for genre in genres %}
                        <li class="list-inline-item rounded" style="padding: 0px 1px;padding-right: 0px;padding-left: 1px;"><a class="text-center link d-block font-size-sm" href="{% url 'genre' genre.genre__slug %}">{{genre.genre__name}}</a></li>
                        {% endfor %}
                    </ul>
                    <h2 style='padding-top:10px'>Biography</h2>
                    <div style='padding-top:10px' class='border-top border-bottom row'>
                        <div class='col-2'>
                            <span class="image"><img class="rounded d-block mx-auto tooltip-title lazyloaded" title="#" width="180" height="180" src="{{author.photo.url}}"</span>
                        </div>
                        <div class='col'>
                            {{author.biography | linebreaksbr}}
                        </div>
                    </div>
                    <div class = 'row' style='padding-top:15px'>
                        <h2>Books</h2>
                        <div class='container'>
                            <div class="owl-carousel owl-theme">
                                {% for book in author.books.all %}
                                    <div class="ms-2 me-2">
                                        <a href="{% url 'book' book.slug %}"><img class='owl-lazy' data-src="{{book.photo.url}}" height="300"></a>
                                    </div>
                                {% endfor %}
                            </div> 
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
            <div class='col-2'></div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'OwlCarousel/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'OwlCarousel/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">

<script src="{% static 'OwlCarousel/owl.carousel.js' %}"></script>
<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            nav: true,
            lazyLoad: true,
            margin: 5,
            padding: 5,
            stagePadding: 5,
            responsive:{
                0 : {
                    items: 1,
                    dots: false
                },
                485 : {
                    items: 2,
                    dots: false
                },
                728: {
                    items: 3,
                    dots: false
                },
                960: {
                    items: 4,
                    dots: false
                },
                1200: {
                    items: 5,
                    dots: true
                }
            }
        })
    })
</script>

<script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
{% load hitcount_tags %}
{% get_hit_count_js_variables for author as hitcount %}
<script>
$.ajax({
    type:"POST",
    url:"{% url 'hit_ajax' %}",
    headers: {
        'X-CSRFToken': csrftoken
    },
    data: {hitcountPK: "{{ hitcount.pk }}"},
    success: function(response){
        $('<i />').text(response.hit_counted).attr('id','hit-counted-value').appendTo('#hit-counted');
        $('#hit-response').text(response.hit_message);
        console.log('success')
    },
    error: function(response){
        console.log('POST failed');
        console.log(response);
    }
})
</script>

{% endblock scripts %}
