.navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
  .navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
  }
  
  .fa-li {
    position: relative;
    left: 0;
  }

@media only screen and (min-width: 992px) {
  .nav-item.user-form{
    padding: 0 0.1em;
  }
  .nav-item:not(:last-child).user-form{
    border-right: 2px solid #474545;
  }
}

@media screen and (max-width: 991px) {
  .columns {
    height: 200px;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 992px) {
  .columns {
    -moz-column-count: 2;
    /* Firefox */
    -webkit-column-count: 2;
    /* Safari and Chrome */
    column-count: 2;
    width: 500px;
    height:170px;
  }
}
