<div class="reviews-list" style="margin: 40px;width: 1000px;">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-start">Comments</h2><span
                class="text-start d-xxl-flex justify-content-xxl-start"
                style="margin-top: -9px;">Add and read other comments here!</span>
                <div id='spinner-box' class="text-center">
                    <div class="spinner-border text-secondary" role="status"></div>
                </div>
<div id="review-box" class="item"></div>
<div id="to-comment-book"></div>
